
.wrapper {
    display: grid;
   
    font-family: "Lilita One", "zeyada";
}
.main-title{
    justify-self:center;
}
.main-title img {
   width:75%;
   aspect-ratio: 1/1;
}

#Gallery {
 justify-content: center;
 padding: 10%;   
 display: grid;
 gap: 1.5rem;
 grid-template-columns: repeat(auto-fit, minmax(10rem, 425px));
}
#Gallery img {
    width: 100%;
    aspect-ratio: 1/1;
    
}

.info  {
    font-size:3.8vb;
    line-height: 2.3rem;
    font-family: "Bebas Neue" "Neuton";
    
}

.back-ground {
    padding: 5rem;
    background-color:rgba(33, 27, 121, 0.932);
    color: whitesmoke;
}